body{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content{
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 100%; 
    height: 100vh;
}

form{
    display: flex;
    flex-direction: row;
    border: 5px solid black; 
    padding: 100px; 
    margin: 30px; 
    cursor: pointer; 
}

#backspace {
    background-color: rgb(237, 89, 30);
    color: white;
}
#res {
    padding: 10px;
}
#clear {
    background-color: rgb(237, 89, 30);
    color: white;
}
form #output {
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}
form #output input {
    text-align: right;
    flex: 1;
    font-size: 25px;
}

.button{
    transition: background-color 0.5s
         ease-in-out,
      transform 0.2s ease-in-out;
}


.button:hover{
    background-image: linear-gradient(
        45deg,
        gray,
        white, 
        gray 
    );
    transform: scale (1.05)
}
